<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>

    <h1> <%= pageHeader %> </h1>

<!-----------We are about to get the information from pokemon.js. We then are going to use dot notation within an li to summon the full list of names from the pokemon.js-->
  
    <ul>

<!------------------------------------------Refer to 6/2 @ 1:02:25---------------------------------------->    
<!----We are using dot notation with pokemonData.map is displaying the information from the array without have to use array format.--------->
<!----------------Following pokemonData.map, we see a function with the two arguements(pokemon and index which will return)-->

        <% pokemonData.map((pokemon, index) =>{ %>

<!-------------------------After we have gotten the list, we are learning how to capitalize the beginning letter of each name using toUpperCase(). We use dot notation and a method called "charAt" which designates a letter of the name. We then target a specific letter using the index method as if the name was like an array. The first letter of a name would be the 0 index..------------------------>
<!------------------------------------------Refer back to 1:03:45 for more info about charAt and slice --------------------------------------------------------------->
<!--------------------------Slicing allows us to retrieve specific data from a string using the index method. Refer to next line:-->
<!-----Let's say we have a const greeting = [name = 'Hello']. If we only wanted to make it say 'Ello' instead of 'Hello', we would summon the index value of 'e'. To do that, we would use dot notation and say greeting.name.slice(1) because 'e' is index 1 ------------> 
<!-------DOT NOTATION IS COMMONLY USED FOR ARRAYS! This is because in an array, there can be a lot of data that is classfied under different things.-------------------->

<li><%= pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1) %></li>

<!-------------------------We are adding the index number of each pokemon from 0-6. We spedcify the path with /pokemon/--------------------------->

<a href='/pokemon/<%= index %>' > Details </a>

<%    })     %>
    </ul>
</body>
</html>