<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <h1> <%= pageHeader %> </h1>
 
    <h2> <%= pokemon.name %> </h2>
<!---------------pokemon.img won't show because it doesn't have jpg extension alone so will need to be added----->
  <img src=<%= `${pokemon.img}.jpg` %> >  

<a href="/pokemon">back</a>
  
  
</body>
</html>