:root {
    --dark-cerulean: #124e78;
    --maastricht-blue: #0b132b;
    --yankees-blue: #1C2541;
    --sea-serpent: #5bc0be;
    --aquamarine: #6fffe9;
    --react: azure;
  }



body {
    margin: 0;
    font-family: 'Montserrat';
    font-weight:100;
    color:azure
  }

.container {
    display: flex;
    text-indent: px;
    margin-top: 70px;
    margin-left: 400px;
   
    height: 400px;
    width: 320px;
    border: 1px solid var(--react);
    border-radius: 15px;
    opacity: 0.75;
    background-image: linear-gradient(#124e78, #5bc0be)
    
}

.header{
    display: flex;
    justify-content: center;
    color:#e8edee;
    font-size:xx-large;
    font-weight: 100;
    font-family: 'Goldman', cursive;
}

.para{
    display:flex;
    text-align: left;
    margin-top: 70px;
    margin-left: -150px;
    margin-right: 25px;

}

.container2 {
    display: flex;
    text-indent: 60px;
    margin-top: -403px;
    margin-left: 750px;
    
    height: 400px;
    width: 320px;
    opacity: 0.75;
    border: 1px solid var(--react);
    border-radius: 15px;
    background-image: linear-gradient(#124e78, #5bc0be)
}

.container3 {
    display: flex;
    text-indent: 40px;
    font-size: 20px;
    text-align:right;
    margin-top: 45px;
    margin-left: 400px;
    height: 400px;
    width: 1020px;
    opacity: 0.75;
    border: 1px solid var(--react);
    border-radius: 15px;
    background-image: linear-gradient(#124e78, #5bc0be) 
}


.container4 {
    display: flex;
    text-indent: 100px;
    margin-top: -565px;
    margin-left: 1100px;
    height: 400px;
    width: 320px;
    opacity: 0.75;
    border: 1px solid var(--react);
    border-radius: 15px;
    background-image: linear-gradient(#124e78, #5bc0be)
}

.menubar {
    display: flex;
    text-indent: 40px;
    margin-top: -1000px;
    margin-right: 900px;
    margin-left: 40px;
    height: 700px;
    width: 300px;
    background-color:#1C2541; 
    border-radius: 20px;
}

.list{
    display: block;
    margin-top: 100px;
    margin-left: -150px;
    text-align: left;
    list-style-type: none;
}

.list2{
    display: block;
    margin-top: 100px;
    margin-left: -280px;
    list-style-type: none;
    text-align: center;
    font-size: x-large;
}
